@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-text: var(--text);
}

:root {
  --background: #fdf9f5;
  --primary: #d78b3a;
  --secondary: #e7e995;
  --accent: #c2e068;
  --text: #120c04;
}

.dark {
  --background: #091b1a;
  --primary: #a0c5c4;
  --secondary: #603a3e;
  --accent: #a6a06c;
  --text: #e8f1f0;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
