@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

.font-special {
  font-family: "Montserrat", sans-serif;
}
.font-common {
  font-family: "Merriweather", serif;
}
/* background image for hero */
.hero{
  background-image: url("/src/assets/banner_image_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay; 
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  
  --color-light-background: #faf6f1; /* fixed background */
  --color-light-text: #1c1a16;       /* fixed text */
  --color-light-primary: #2563eb;   /* deep blue */
  --color-light-secondary: #16a34a; /* library green */
  --color-light-accent: #facc15;    /* gold for highlights */
  --color-light-muted: #94a3b8;     /* gray for borders/text */
  /* ===== DARK THEME ===== */
  --color-dark-background: #121212;
  --color-dark-primary: #d97a3e;
  --color-dark-secondary: #f2c572;
  --color-dark-accent: #7fb77e;
  --color-dark-text: #f1f1f1;
}

/* @layer base {
  body {
    @apply bg-background text-text;
  }
} */

@utility flex-center {
  @apply flex justify-center items-center;
}
