@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

.font-special {
  font-family: "Montserrat", sans-serif;
}
.font-common {
  font-family: "Merriweather", serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-background: #faf6f1;
  /* --color-light-primary: #d97a3e;
  --color-light-secondary: #f2c572;
  --color-light-accent: #7fb77e;
  --color-light-text: #1c1a16; */
  --color-light-primary: #1A2A80;    
--color-light-secondary: #3B38A0; 
--color-light-accent: #7A85C1;     
--color-light-text: #1c1a16; 
  /* ===== DARK THEME ===== */


  
  --color-dark-background: #121212; /* Dark background */
  --color-dark-primary: #f0a35e; /* Dark navbar, primary buttons */
  --color-dark-secondary: #b88a4a; /* Subtle UI in dark mode */
  --color-dark-accent: #94c9a9; /* Action highlights in dark mode */
  --color-dark-text: #f1f1f1; /* Dark mode text */
}

/* @layer base {
  body {
    @apply bg-background text-text;
  }
} */

@utility flex-center {
  @apply flex justify-center items-center;
}
